#toast-container-main {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#toast-container-main>div {
    color: white;
    width: 100%;
    margin-bottom: 10px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    animation: slide-in 0.5s;
    transition: all 0.3s ease;
    border-radius: 8px;
}

@keyframes slide-in {
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.info {
    background-color: lightblue;
}

.warning {
    background-color: yellow;
}